*{
	margin:0%;
	padding:0;
	box-sizing:border-box;
	font-family:'open sans';
	list-style:none;
}
body > *{
	width:90%;
	margin:0 auto;
}
nav{
	font-size:14px;
}
.p-navbar{
	position:relative;
	padding:10px 0px;
	height:50px;
}
.right-p-navbar{
	position:absolute;
	right:20px;
	
}
.right-p-navbar > li{
	display:inline-block;
	margin:0px 10px;
}
.right-p-navbar > li > img{
	transform:translatey(4px)
}
.s-navbar{
	position:relative;
	padding:10px 0px;
	transform:translatey(-40px);
}
.s-navbar > *{
	display:inline-block;
}
.s-input{
	border:2px solid #ffda00;
	border-radius:30px;
	overflow:hidden;
	position:absolute;
	left:30%;
	top:70%;
	transform:scale(1.2);
}
.s-navbar span:nth-child(1){
	padding:8px;
}
.s-navbar span:nth-child(3){
	padding:8px 10px;
	background-color:#ffda00;
}
.s-navbar input{
	border:none;
	outline:none;
	margin:4px;
	width:300px;
}
.s-navbar ul{
	position:absolute;
	left:70%;
	top:70%;
	list-style:none;
	font-size:16px;
}
.s-navbar ul li{
	display:inline-block;
	margin:0px 10px;
}

header {
    height: 75vh;
    position: relative;
    overflow: hidden;
}

header .heading {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    background: #ffda00;
}


header ul .heading-list {
    float: left;
    list-style: none;
    padding: 8.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 18px;
    font-family: OpenSans, Arial, Helvetica, sans-serif;
}

header ul .heading-list:nth-last-of-type(4) {
    background: black;
    color: white;
    padding: 7.35%;
    padding-top: 1%;
    padding-bottom: 1%;
}

/* side bar css */
header .side-bar ul {
    position: absolute;
    top: 10%;
    padding-left: 2%;
    padding-right: 3%;
    padding-bottom: .7%;
    z-index: 2;
    background: rgba(241, 239, 239, 0.897);
    height: 100%;
}

header .side-bar ul li {
    list-style: none;
    font-size: 15px;
    font-family: OpenSans, Arial, Helvetica, sans-serif;
    margin:4% ;
    color: lightslategray;
}

header .side-bar ul li:hover {
    color: black;
}

 /* slider css start */

.proslider  img {
    min-width: 100%;
    width: 100%;
    height: 100%;
}

.proslider  .wrapper {
    max-width: 100%;
    width: 100%;
    position: absolute;
    top: 10%;
}

.proslider  .slider {
    background: #fff;
    position: relative;
    overflow: hidden;
    height: 67.2vh;
}

.slide-switch {
    display: none;
}

.slide-label {
    position: absolute;
    bottom: 1rem;
    display: block;
    z-index: 5;
    height: 1.5rem;
    width: 1.5rem;
    text-indent: 1rem;
     overflow: hidden;
    background: black;
    border: 2px solid lightslategray;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.25s;
    top: 70%;
}

.slider-arrow {
    position: absolute;
    font-size: 25px;
    color: rgb(72, 81, 90);
    background: black;
    padding: 2px 5px 2px 5px;
    border-radius: 50%;
    left: 68%;
    border: 3px solid lightslategray;
    top: 68%;
    z-index: 5;
}

.end-arrow {
    position: absolute !important;
    left: 92.5% !important;
}

.slide-label:nth-last-of-type(6) {
    right: 25%;
    z-index: 5;
}

.slide-label:nth-last-of-type(5) {
    right: 22%;
    z-index: 5;
}

.slide-label:nth-last-of-type(4) {
    right: 19%;
    z-index: 5;
}

.slide-label:nth-last-of-type(3) {
    right: 16%;
    z-index: 5;
}

.slide-label:nth-last-of-type(2) {
    right: 13%;
    z-index: 5;
}

.slide-label:nth-last-of-type(1) {
    right: 10%;
    z-index: 5;
}


.slide-content {
    width: 100%;
    background: #fff;
    float: left;
    margin-right: -100%;
    height: 100%;
}

.slide-switch:checked+.slide-label {
    background: black;

}

.slide-switch:not(:checked)+.slide-label+.slide-content {
    opacity: 0;
    transition: opacity 0.35s;
    pointer-events: none;
}

.slide-switch:checked+.slide-label+.slide-content {
    animation: slide 1s;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}
.collection > h1{
	margin:20px 0px;
}
.collection > h1 >i{
	margin:0px 6px 0px 0px;
}
#aside-img{
	display:inline-block;
	height:190px;
	width:190px;
	overflow:hidden;
	margin:0px 2px;
	position:relative;
	
	
}
.collection > #aside-img > img{
	position:absolute;
	max-height:100%;
	
	
	
}
.awai img{
	width:19.7%;
    margin-left:1px;
}
.collection > div.collect-img{
	display:inline-block;
	height:185px;
	width:238px;
	border:1px solid rgba(0, 0, 0, 0.103);
	overflow:hidden;
	margin:0px 2px;
	position:relative;
	text-align:center;
}

.collection > div.collect-img img{
	max-height:160px;
}
.collection > div.collect-img .hidden-num{
	width:100%;
	background-color:#f30240;
	font-size:18px;
	padding:6px 0px;
	color:white;
	font-weight:bolder;
	transform:translatey(10px);
    transition:transform .5s ;
    
}
.collection > div.collect-img:hover .hidden-num{
	transform:translatey(-32px)
	
	
}
.super-deals{
	position:relative;
	/* border:1px solid red; */
    height:390px;

}

.super-deals h1{
	margin-top:1.5%;
}
.super-deals-img1{
	height:45vh;
	width:20%;
	background-image:url('./img/super-1.png');
	background-size:100% 100%;
    float:left;
    
}
.clear{
	clear:both;
}
.super-deals-right{
	height:45vh;
	width:80%;
    float:left;
    
}
.super-img{
	height:100%;
	width:20%;
	float:left;
	/* border:1px lightgray solid; */
	padding:1px;
	position:relative;
    transition:all;
    z-index: 1;
	
	
}
.super-img:hover{
	box-shadow:2px 5px 5px 4px pink;
	transform:scale(1.1);
}
.super-img img{
	height:50%;
    width:100%;
    z-index: 1;
}
.super-img p{
  /* text-align:center; */
  font-size:15px;
  margin-top:10%;
  font-size:15px;
  z-index: 1;
}
.striked{
	/* text-decoration:line-through; */
	color:gray;
    text-align:left;
    z-index: 1;
	
}
.H-N{
	color:red;
	
	}
.circle-s{
	height:12%;
	width:17%;
	border-radius:50%;
	background-color:red;
	position:absolute;
	top:2%;
	right:1%;
}
.para{
	margin-left:5px;
	margin-top:4px;
	color:white;
	
}

.new{
	/* border:1px solid black; */
	height:5vh;
	width:90%;
	position:relative;
	top:20px;
	padding:1px;
}
.new-right{
	height:40vh;
	width:30%;
	background-image:url("img/slider-img-3.webp");
	margin-top:1px;
	background-size:cover;
	float:left;
	
}
.left-new{
	/* border:1px black solid; */
	height:40vh;
	width:65%;
	float:left;
	margin-left:1%;
}
.new-img{
	height:100%;
	width:25%;
	position:relative;
    /* border:1px black solid; */
   float:left;
   position:relative;
    transition:all;
    z-index: 1;
	
	
}
.new-img img{
	height:65%;
	width:100%; 
	
	
	
	
}
.new-img:hover{
	box-shadow:2px 5px 5px 4px pink;
	transform:scale(1.1);
}
	
	
	
	
	
	
	



.top{
	height:5vh;
width:90%;
position:relative;
margin-top:22%;	


}

.right-top{
	height:43vh;
	width:30%;
	margin-top:2%;
	background-image:url('img/side3.jpg');
	background-size:cover;
	float:left;
	
	
}

.left-top-up{
	height:21.5vh;
	width:69%;
	float:left;
	margin-top:2%;
	margin-left:1%;
}

.left-top-down{
	height:21.5vh;
	width:69%;
	float:left;
	margin-top:2%;
	margin-left:1%;
}
	
	

.l-t-p{
	border:1px solid gray;
	width:30%;
	height:98%;
	float:left;
	margin-left:3%;
	position:relative;
	transition:all;
	/* background: pink; */
	} 
.l-t-p:hover{
	transform:scale(1.1);
	box-shadow:2px 3px 3px 2px,teal;
	
	
}
.l-t-p img{
	height:100%;
	width: 100%;
}
.l-t-d{
	border:1px solid gray;
	width:30%;
	height:98%;
	float:left;
	margin-left:3%;
	background: yellow;
	/* margin-top: 2%; */
	
}
.l-t-d img{
	height: 100%;
	width:100%;
}
.HOT h1{
	height:5vh;
	width:90%;
	position:relative;
	margin-top:26%;
}
.left-hot{
	height:43vh;
	width:20%;
	margin-top:1%;
	background-image:url('img/190x150200-310-419167801.jpg');
	background-size:100% 100%;
	float:left;
}
.left-hot h1{
	color:white;
	border:none;
	margin-left:7%;
	
}

.left-hot p{
	color:white;
	margin-left:7%;

}

.right-hot{
	height:43vh;
	width:78%;
	margin-top:1%;
	float:left;
	margin-left:1%;
	
}
.right-up-hot{
	height:22vh;
	width:100%;
}
.r-1{
	height:100%;
	width:19%;
		background-image:url('img/3-419167801.jpg');
padding:1px;
float:left;
}
.r-1 h1{
	text-align:center;
	border:none;
	margin-top:1%;
	
	
}

.r-2{
	height:100%;
	width:19%;
		background-image:url('img/5.png');
padding:1px;
float:left;
margin-left:1%;
}
.r-2 h1{
	text-align:center;
	border:none;
	margin-top:1%;
}

.r-3{
	height:100%;
	width:19%;
	background-image:url('img/3.png');
     /* padding:1px; */
     margin-left:1%;
	 float:left;
	 
}
.r-3 h1{
	text-align:center;
	border:none;
	margin-top:1%;
}

.r-4{
	height:100%;
	width:19%;
	background-image:url('img/12.png');
     /* padding:1px; */
     margin-left:1%;
	 float:left;
	 
}
.r-4 h1{
	text-align:center;
	border:none;
	margin-top:1%;
}


.r-5{
	height:100%;
	width:19%;
	background-image:url('img/17.png');
     /* padding:1px; */
     margin-left:1%;
	 float:left;
	 
}
.r-5 h1{
	text-align:center;
	border:none;
	margin-top:1%;
}
.right-down-hot{
	height:20vh;
	width:100%;
margin-top:5px;
}

.d-1{
	height:100%;
	width:19%;
	background-image:url('img/16.png');
     /* padding:1px; */
     /* margin-left:1%; */
	 float:left;
	 
}
.d-1 h1{
	text-align:center;
	border:none;
	margin-top:1%;
	
}

.d-2{
	height:100%;
	width:19%;
	background-image:url('img/8.png');
     /* padding:1px; */
     margin-left:1%;
	 float:left;
	 
}
.d-2 h1{
	text-align:center;
	border:none;
	margin-top:1%;
	
}

.d-3{
	height:100%;
	width:19%;
	background-image:url('img/10.png');
     /* padding:1px; */
     margin-left:1%;
	 float:left;
	 
}
.d-3 h1{
	text-align:center;
	border:none;
	margin-top:1%;
	
}


.d-4{
	height:100%;
	width:19%;
	background-image:url('img/14.png');
     /* padding:1px; */
     margin-left:1%;
	 float:left;
	 
}
.d-4 h1{
	text-align:center;
	border:none;
	margin-top:1%;
	
}



.d-5{
	height:100%;
	width:19%;
	background-image:url('img/18.png');
     /* padding:1px; */
     margin-left:1%;
	 float:left;
	 
}
.d-5 h1{
	text-align:center;
	border:none;
	margin-top:1%;
	
}

.for-u {
	height:5vh;
	width:90%;
	/* background-color:pink; */
	margin-top:25%;
	
}

.one{
	height:43vh;
	width:100%;
	/* border:1px solid black; */
	margin-top:2%;
}
.one-1{
	height:100%;
	width:19%;
	/* background-color:pink; */
	position:relative;
	float:left;
	margin-left:1%;
}

.one-1 img{
	height:70%;
	width:100%;
	
	
}

.flash{
	height:5%;
	width:25%;
	background-color:pink;
	color:red;
	
	
	
}
.circle-sale{
	height:20%;
	width:20%;
	background-color:red;
	position:absolute;
	top:1%;
	right:2%;
	border-radius:50%;
	padding:10px;
	color:white;
}

.two{
	height:43vh;
	width:100%;
	/* border:1px solid black; */
	margin-top:2%;
}
.two-1{
	height:100%;
	width:19%;
	/* background-color:pink; */
	position:relative;
	float:left;
	margin-left:1%;
}

.two-1 img{
	height:70%;
	width:100%;
	
	
}



.third{
	height:43vh;
	width:100%;
	/* border:1px solid black; */
	margin-top:2%;
}
.third-1{
	height:100%;
	width:19%;
	/* background-color:pink; */
	position:relative;
	float:left;
	margin-left:1%;
}

.third-1 img{
	height:70%;
	width:100%;
	
	
}





.four{
	height:43vh;
	width:100%;
	/* border:1px solid black; */
	margin-top:2%;
}
.four-1{
	height:100%;
	width:19%;
	/* background-color:pink; */
	position:relative;
	float:left;
	margin-left:1%;
}

.four-1 img{
	height:70%;
	width:100%;
	
	
}





.five{
	height:43vh;
	width:100%;
	/* border:1px solid black; */
	margin-top:2%;
}
.five-1{
	height:100%;
	width:19%;
	/* background-color:pink; */
	position:relative;
	float:left;
	margin-left:1%;
}

.five-1 img{
	height:70%;
	width:100%;
}

.six{
	height:43vh;
	width:100%;
	/* border:1px solid black; */
	margin-top:2%;
}
.six-1{
	height:100%;
	width:19%;
	/* background-color:pink; */
	position:relative;
	float:left;
	margin-left:1%;
}

.six-1 img{
	height:70%;
	width:100%;
}




.seven{
	height:43vh;
	width:100%;
	/* border:1px solid black; */
	margin-top:2%;
}
.seven-1{
	height:100%;
	width:19%;
	/* background-color:pink; */
	position:relative;
	float:left;
	margin-left:1%;
}

.seven-1 img{
	height:70%;
	width:100%;
}




.eight{
	height:43vh;
	width:100%;
	/* border:1px solid black; */
	margin-top:2%;
}
.eight-1{
	height:100%;
	width:19%;
	/* background-color:pink; */
	position:relative;
	float:left;
	margin-left:1%;
}

.eight-1 img{
	height:70%;
	width:100%;
}


.nine{
	height:43vh;
	width:100%;
	/* border:1px solid black; */
	margin-top:2%;
}
.nine-1{
	height:100%;
	width:19%;
	/* background-color:pink; */
	position:relative;
	float:left;
	margin-left:1%;
}

.nine-1 img{
	height:70%;
	width:100%;
}




.ten{
	height:43vh;
	width:100%;
	/* border:1px solid black; */
	margin-top:2%;
}
.ten-1{
	height:100%;
	width:19%;
	/* background-color:pink; */
	position:relative;
	float:left;
	margin-left:1%;
}

.ten-1 img{
	height:70%;
	width:100%;
}



.eleven{
	height:43vh;
	width:100%;
	/* border:1px solid black; */
	margin-top:2%;
}
.eleven-1{
	height:100%;
	width:19%;
	/* background-color:pink; */
	position:relative;
	float:left;
	margin-left:1%;
}

.eleven-1 img{
	height:70%;
	width:100%;
}



.twelve{
	height:43vh;
	width:100%;
	/* border:1px solid black; */
	margin-top:2%;
}
.twelve-1{
	height:100%;
	width:19%;
	/* background-color:pink; */
	position:relative;
	float:left;
	margin-left:1%;
}

.twelve-1 img{
	height:70%;
	width:100%;
}



.thirteen{
	height:43vh;
	width:100%;
	/* border:1px solid black; */
	margin-top:2%;
}
.thirteen-1{
	height:100%;
	width:19%;
	/* background-color:pink; */
	position:relative;
	float:left;
	margin-left:1%;
}

.thirteen-1 img{
	height:70%;
	width:100%;
}



.fourteen{
	height:43vh;
	width:100%;
	/* border:1px solid black; */
	margin-top:2%;
}
.fourteen-1{
	height:100%;
	width:19%;
	/* background-color:pink; */
	position:relative;
	float:left;
	margin-left:1%;
}

.fourteen-1 img{
	height:70%;
	width:100%;
}



.fifteen{
	height:43vh;
	width:100%;
	/* border:1px solid black; */
	margin-top:2%;
}
.fifteen-1{
	height:100%;
	width:19%;
	/* background-color:pink; */
	position:relative;
	float:left;
	margin-left:1%;
}

.fifteen-1 img{
	height:70%;
	width:100%;
}


.sixteen{
	height:43vh;
	width:100%;
	/* border:1px solid black; */
	margin-top:2%;
}
.sixteen-1{
	height:100%;
	width:19%;
	/* background-color:pink; */
	position:relative;
	float:left;
	margin-left:1%;
}

.sixteen-1 img{
	height:70%;
	width:100%;
}



.seventeen{
	height:43vh;
	width:100%;
	/* border:1px solid black; */
	margin-top:2%;
}
.seventeen-1{
	height:100%;
	width:19%;
	/* background-color:pink; */
	position:relative;
	float:left;
	margin-left:1%;
}

.seventeen-1 img{
	height:70%;
	width:100%;
}

.last{
	height:100vh;
	width:90%;
	/* border:1px solid black; */
	position:relative;
	margin-top:380%;
}
.view{
	height:5%;
	width:10%;
	/* border:1px solid black; */
	margin:auto;
}
.first-row{
	height:5%;
	width:7.6%;
	/* border:1px solid red; */
	margin-top:1%;
	float:left;
}
.second-row{
	height:5%;
	width:7.6%;
	/* border:1px solid red; */
	margin-top:1%;
	float:left;
	margin-left:15%;
	margin-top:-0.1%;
}


.second-row-1{
	height:5%;
	width:7.6%;
	/* border:1px solid red; */
	margin-top:1%;
	float:left;
		margin-top:-0.1%;

}
.second-row-2{
	height:5%;
	width:7.6%;
	/* border:1px solid red; */
	margin-top:1%;
	float:left;
		margin-top:-0.1%;

}
.gearbest{
	height:7%;
	width:17%;
	background-image:url('img/logo_gearbest.png');
	background-size:100% 100%;
	margin-top:15%;
	margin-left:3.5%;
}


.side-one{
	height:7%;
	width:17%;
	/* border:1px solid black; */
	margin-left:25%;
	margin-top:-5%;
	font-size:50px;
	text-align:center;
	
	
}
.side-two{
	height:7%;
	width:17%;
	/* border:1px solid black; */
	margin-left:45%;
	margin-top:-3.9%;
	font-size:50px;
	text-align:center;
	
	
}
.side-three{
	height:7%;
	width:17%;
	/* border:1px solid black; */
	margin-left:64%;
	margin-top:-3.9%;
	font-size:50px;
	text-align:center;
}

.side-four{
	height:7%;
	width:17%;
	/* border:1px solid black; */
	margin-left:82%;
	margin-top:-3.9%;
	font-size:50px;
	text-align:center;
}

.btn-sub{
	height:3.9%;
	width:7%;
	background-color:black;
	color:white;
	position:relative;
	margin-left:35.7%;
	margin-top:-3%;
}
.unorder-list{
	margin-left:50%;
	float:left;
	list-style:none;
	/* border:1px black solid; */
	width:50%;
	
	margin-top:-2%;
	/* background-color:pink; */
	
	
	
}
.unorder-list li{
	float:left;
	margin-left:5%;
	font-size:35px;
}

.last-one-r{
	/* border:1px solid black; */
	height:40%;
	width:15%;
	margin-top:5%;
	float:left;
	/* margin-left:10%; */
}
.last-one-r li{
	margin-top:1%;
}


.last-one-mid{
	/* border:1px solid black; */
	height:40%;
	width:15%;
	margin-top:5%;
	float:left;
}
.last-one-mid li{
	margin-top:1%;
}




.last-one-l{
	/* border:1px solid black; */
	height:40%;
	width:15%;
	margin-top:5%;
	float:left;
}
.last-one-l li{
	margin-top:1%;
}
.webcode{
	height:20%;
	width:20%;
	background-image:url('img/footer-down-img.png');
	position:relative;
	left:65%;
	margin-top:7%;
	background-size:100% 100%;
}
.pic-bar{
	/* border:1px solid black; */
	margin-top:10%;
	margin-left:5%;
	width:90%;
	
}
.footer{
	height:7vh;
	width:90%;
	background-color:black;
	color:white;
	margin-top:1%;
	margin-left:5%;
	text-align:center;
	padding:1px;
	
	
	
}
.footer p{
	margin-top:1%;
}


/* .div > img{ */
	/* position:all; */
    /* transition:all; */
/* } */
/* .div > img:hover{ */
	/* transform:scale(1.1); */
	
	
/* } */












